.page-wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 6.5rem);
}
.page-content-wrapper {
  width: 100%;
  margin-left: 25rem;
  margin-top: 6.5rem;
  main {
      height: 100%;
  }
  height: calc(100vh - 6.5rem);
  main {
    height: 100%;
  }
}
