.page-header {
  padding: 1.6rem 2.4rem;
  .btn {
    margin-left: 1.6rem;
    width: 8rem;
    min-height: 4.25rem;
  }
}
.user-management {
  background-color: var(--bg-color);
  padding: 2.5rem;
  height: 100%;
  .card {
    height: 100%;
    padding: 2.5rem;
    .table-action-wrapper {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  .btn-icon {
    background-color: var(--bg-gray);
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-right: 1.6rem;
    transition: .2s;
    img {
      margin: 0;
    }
    &:hover {
      background-color: #e1e1e1;
    }
  }

  &.add-new-user {
    .page-title {
      margin-bottom: 1.5rem;
    }
    .form-group {
      display: flex;
      gap: 2.4rem;
    }
    .card {
      max-width: 60rem;
      height: auto;
      .form-item {
        width: 100%;
      }
    }
    .user-password h3 {
      text-align: left;
      font-weight: 700;
      font-size: 17px;
      margin-bottom: 3rem;
      margin-top: 5rem;
    }
  }
}

.table {
  thead {
    border-bottom: none;
    th {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: none;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 800;
      &:first-child {
        border-radius: 1.6rem 0 0 1.6rem;
      }
      &:last-child {
        border-radius: 0 1.6rem 1.6rem 0;
      }
    }
  }
  tr {
    border-bottom: none;
    td:first-child,
    th:first-child {
      padding-left: 1.4rem;
    }
    td:last-child,
    th:last-child {
      padding-right: 1.4rem;
    }
  }
  tbody {
    border-bottom: none;
    td {
      padding-top: 3rem;
      border-bottom: none;
      font-size: 1.4rem;
    }
    .status {
      padding: .2rem .8rem;
      line-height: 2.4rem;
      font-size: 1.4rem;
      font-weight: 500;
      width: fit-content;
      border-radius: .8rem;
      &.active {
        background-color: #CCE7DE;
        color: #00875A;
      }
      &.inactive {
        color: var(--color-red);
        background-color: #ffd7d7;
      }
    }
    .more-icon {
      text-align: right;
      div.more-icon {
        cursor: pointer;
        width: fit-content;
        margin-left: auto;
      }
      &:hover img {
        cursor: pointer;
        opacity: 1 !important;
      }
      img.more-icon {
        opacity: .5;
        transition: .2s;
      }
    }
    .dropdown-menu {
      box-shadow: 0 .8rem 1.6rem rgba(0, 0, 0, 0.05);
      border-radius: .8rem;
      font-size: 1.4rem;
      font-weight: 700;
      padding: 1rem .8rem;
      border: 1px solid #f7f7f7;
      li {
        padding: .8rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: .5rem;
        &:hover {
          background-color: var(--bg-gray);
        }
      }
      img {
        margin-right: .8rem;
        width: 2.4rem;
      }
    }
  }
}

//Form
.form-wrapper {
  background-color: #fff;
  text-align: center;
  h1 {
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
  }
  .welcome-text {
    color: var(--text-gray);
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 4rem;
  }
  .form-item {
    margin-bottom: 2.5rem !important;
    select {
      height: 4.6rem;
      padding: 1rem 2.4rem;
      font-size: 1.4rem;
      font-weight: 500;
      background-color: #F9FAFA;
      border: none;
      border-radius: .8rem;
      transition: .2s;
      color: #9091A1;
      &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid var(--primary-color);

      }
      &.valid {
        color: var(--text-dark);
      }
    }
    option:not(:first-of-type) {
      color: var(--text-dark);
    }
    input {
      &.ng-valid {
        background-color: #fff;
        border: 1px solid #BEBCC7;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        box-shadow: 0 0 0px 1000px #fff inset;
      }
      height: 4.6rem;
      padding: 1rem 2.4rem;
      font-size: 1.4rem;
      font-weight: 500;
      background-color: #F9FAFA;
      border: none;
      border-radius: .8rem;
      transition: .2s;

      &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid var(--primary-color) !important;
        -webkit-text-fill-color: #171717;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        -webkit-transition: background-color 5000s ease-in-out 0s;
        transition: background-color 5000s ease-in-out 0s;
        &~label {
          color: var(--primary-color);
        }
      }
    }
    label {
      transition: .2s;
      max-width: fit-content;
      opacity: 1 !important;
      color: var(--text-gray);
      height: auto;
      padding-left: 2.4rem;
      font-size: 1.4rem;    
      font-weight: 500;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus {
      border: 1px solid #BDBDC7;
      -webkit-text-fill-color: #171717;
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      -webkit-transition: background-color 5000s ease-in-out 0s;
      transition: background-color 5000s ease-in-out 0s;
      font-weight: 500 !important;
    }

  }
  .form-item-footer {
    margin-top: -1.5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .form-check {
      margin-bottom: 0 !important;
    }
    label {
      font-size: 1.3rem;
      cursor: pointer;
    }
  }
  button {
    margin: 0 auto 6rem;
    width: 8rem;
  }
  .show-pw {
    position: absolute;
    right: 1.2rem;
    cursor: pointer;
    padding: .2rem .4rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .help {
    color: var(--text-gray);
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.form-floating>.form-control:-webkit-autofill~label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-12px) translateX(20px);
  padding: 0 10px !important;
  background-color: #F9FAFA !important;
  font-weight: 500;
  font-family: "DM Sans", sans-serif !important;
}
.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-12px) translateX(20px);
  padding: 0 10px !important;
  background-color: #fff !important; 
  font-weight: 500;
  font-family: "DM Sans", sans-serif !important;
}